#main{
  background: #FFFAFA;
}
.blog-Post-Card{
  margin-top: 10px;
  padding: 30px 0 24px 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: minmax(200px, 1fr);
  justify-content: center;
  grid-gap: 40px;
}
.card{
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(214,189,230,1);
  padding: 4px 0 4px 4px;
}
.img{
  background: url('../images/player.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}
.content{
  margin-top: 10px;
  padding: 2%;
}
.content{
  text-align: justify;
  line-height: 1.5;
}
